-i https://pypi.org/simple
beautifulsoup4==4.6.3
boto3==1.7.81
botocore==1.10.81
certifi==2018.8.13
chardet==3.0.4
django-cors-headers==2.4.0
django-filter==2.0.0
django-rest-auth==0.9.3
django-storages==1.6.6
django==2.1
djangorestframework==3.8.2
docutils==0.14
idna==2.7
jmespath==0.9.3
lxml==4.2.4
pillow==5.2.0
psycopg2-binary==2.7.5
python-dateutil==2.7.3; python_version >= '2.7'
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
selenium==3.14.0
six==1.11.0
style==1.1.0
update==0.0.1
urllib3==1.23
utils==0.9.0
uwsgi==2.0.17.1
